<div class="footer">
  <a href="https://www.facebook.com/pages/%E6%A1%8C%E9%81%8A%E4%B8%96%E7%95%8C/230932683697135"><img class="social" src="assets/fb.png"></a>
  <a href="http://instagram.com/"><img class="social" src="assets/instagram.png"></a>
  <a href="mailto:someone@example.com?Subject=Hello%20again"><img class="social" src="assets/email.png"></a>
  <p id="copyright">桌遊世界 &copy; 2014 | 版權所有</p>
</div>
