<div class="top">
  <div class="row">
    <div class="left col-md-4">
      <img class="logo" src="assets/bgpic.png">
      <div class="round">
        <button type="button" class="round-button">
          <%= link_to "了解更多", anchor: 'about', :class => 'round-button' %>
        </button>
      </div>
    </div>
    <div class="right col-md-8">
    </div>
  </div>
</div>
