<div class="top">
  <div class="col-md-12">
    <img class="logo" src="assets/logo.png">
    <img class="slogan" src="assets/slogan.png">
    <!--    <div class="round">
        <button type="button" class="round-button">
        </button>
      </div> -->
    <button type="button" class="learnmore">
      <%= link_to image_tag("/assets/learnmore.png"), anchor: 'about' %>
    </button>
  </div>
</div>
