<div class="contact">
  <div class="info">
    <h2><b>聯絡我們</b></h2>
    <div class='info-detail'>
      <p>電話: (02) 2253-2757</p>
      <p>Tue - Fri: 11:30 am - 10:00 pm<br>
        Sat: 8:00 am - 11:00 pm<br>
        Sun: 8:00 am - 10:00 pm</p>
      <p>地址: 新北市板橋區龍泉街108巷7號</p>
      <p>捷運公車族:<br>
        板橋捷運站二號出口→在第四道公車道搭857路線→在聯合醫院板橋院區下車→往龍泉街方向(有個全家便利商店)走大概3分鐘看到108巷左轉即可看到桌遊世界。<br>
        開車、機車族:<br>
        A.從新海橋下來→在新海路403巷右轉(85度C斜對面)進來→順著開大概3分鐘看到長青藥局右轉即可看到桌遊世界。<br>B.從華江橋下來→走文化路→右轉陽明街→左轉英士路→右轉龍泉街→看到長青藥局右轉即可看到桌遊世界。
      </p>
    </div>
  </div>
</div>
<div class="map_canvas">
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7230.585183644646!2d121.4569586754528!3d25.024142664345828!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a80e1b0fa107%3A0x489d885a81843adf!2zMjIw5paw5YyX5biC5p2_5qmL5Y2A6b6N5rOJ6KGXMTA45be3N-iZnw!5e0!3m2!1szh-TW!2stw!4v1401269386171"></iframe>
  </div>
</div>
