<div id="about">
  <h1>about</h1>
</div>
<div id="new">
  <h1>new</h1>
</div>
<div id="menu">
  <h1>menu</h1>
</div>
<div id="board">
  <h1>board</h1>
</div>
<div id="activity">
  <h1>activity</h1>
</div>
<div id="contact">
  <div class="info col-sm-6 col-md-6">
    <%= render "info" %>
  </div>
  <div class="map_canvas col-sm-6 col-md-6">
    <%= render "shared/gmap" %>
  </div>
</div>
