<div id="about">
  <div class="abouttop"></div>
  <div class="about">
    <h1>about</h1>
  </div>
</div>
<div id="new">
  <div class="newtop"></div>
  <div class="new">
    <h1>new</h1>
  </div>
</div>
<div id="menu">
  <div class="menutop"></div>
  <div class="menu">
    <h1>menu</h1>
  </div>
</div>
<div id="board">
  <div class="boardtop"></div>
  <div class="board">
    <h1>board</h1>
  </div>
</div>
<div id="activity">
  <div class="activitytop"></div>
  <div class="activity">
    <h1>activity</h1>
  </div>
</div>
<div id="contact">
  <div class="contacttop"></div>
  <div class="contact">
    <h1>contact</h1>
  </div>
  <%= render "shared/footer" %>
</div>
