<div id="about">
  <h1>about</h1>
</div>
<div id="new">
  <h1>new</h1>
</div>
<div id="menu">
  <h1>menu</h1>
</div>
<div id="board">
  <h1>board</h1>
</div>
<div id="activity">
  <h1>activity</h1>
</div>
<div id="contact">
  <div class="info col-sm-6 col-md-6">
    <h2><b>聯絡我們</b></h2>
    <p>電話: (02) 2253-2757</p>
    <p>Tue - Fri: 11:30 am - 10:00 pm<br>
      Sat: 8:00 am - 11:00 pm<br>
      Sun: 8:00 am - 10:00 pm</p>
    <p>地址: 新北市板橋區龍泉街108巷7號</p>
    <p>捷運公車族:
板橋捷運站二號出口→在第四道公車道搭857路線→在聯合醫院板橋院區下車→往龍泉街方向(有個全家便利商店)走大概3分鐘看到108巷左轉即可看到桌遊世界。<br>
      開車、機車族:
A.從新海橋下來→在新海路403巷右轉(85度C斜對面)進來→順著開大概3分鐘看到長青藥局右轉即可看到桌遊世界。B.從華江橋下來→走文化路→右轉陽明街→左轉英士路→右轉龍泉街→看到長青藥局右轉即可看到桌遊世界。
    </p>
  </div>
  <span class="hidden-xs">
    <div class="map_canvas col-sm-6 col-md-6">
      <%= render "shared/gmap" %>
    </div>
  </span>
</div>
