// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$red: #de1e19;
$orange: #e45c19;
$yellow: #efea35;
$green: #53b232;
$blue: #14bbdb;
$purple: #7e1e6f;


a {
  text-decoration: none;
  color: #5C5C5C;
}

a:hover {
  text-decoration: none;
  color: black;
  background-color: transparent;
}

ul.nav a:hover {
  background-color: white !important;
}

.side {
  background-color: #464646;
  height: 100vh;
}

#about {
  height: 100vh;
  margin: 5% 5%;
  background: white;
}

.abouttop {
  height: 60px;
}

.about {
  background-position: 50% 50%;
  border-radius: 30px;
  height: 500px;
  background: $red;
  opacity: 0.1;
}

#new {
  height: 100vh;
  margin: 5% 5%;
  background: white;
}

.newtop {
  height: 60px;
}

.new {
  background-position: 50% 50%;
  border-radius: 30px;
  height: 500px;
  background: $orange;
  opacity: 0.1;
}

#menu {
  height: 100vh;
  margin: 5% 5%;
  background: white;
}

.menutop {
  height: 60px;
}

.menu {
  background-position: 50% 50%;
  border-radius: 30px;
  height: 500px;
  background: $yellow;
  opacity: 0.1;
}

#board {
  height: 100vh;
  margin: 5% 5%;
  background: white;
}

.boardtop {
  height: 60px;
}

.board {
  background-position: 50% 50%;
  border-radius: 30px;
  height: 500px;
  background: $green;
  opacity: 0.1;
}

#activity {
  height: 100vh;
  margin: 5% 5%;
  background: white;
}

.activitytop {
  height: 60px;
}

.activity {
  background-position: 50% 50%;
  border-radius: 30px;
  height: 500px;
  background: $blue;
  opacity: 0.1;
}

#contact {
  height: 100vh;
  margin: 5% 5% 0 5%;
  background: white;
}

.contacttop {
  height: 60px;
}

.contact {
  background-position: 50% 50%;
  border-radius: 30px;
  height: 450px;
  background: $purple;
  opacity: 0.1;
}

.footer {
  border-radius: 30px;
  height: 50px;
  background-color: #2B2B2B;
}

.navbar {
  text-align: center; 
  display: inline-block;
  margin: 0 5%;
  background-color: white;
}

.nav {
  box-sizing: initial;
  background-color: white;
  border-color: white;
  text-align: center;
  line-height: 5px;
  margin-top: 0;
}

.sticky {  
  position: fixed;
  left: 0px;
  top: 0;  
  z-index: 100;
  border-top: 0;  
}  

.top {
  height: 100vh;
  background-image: url('cloud.png');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
  border-radius: 30px;
}

img.logo {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

img.slogan {
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.learnmore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background: transparent;
  border: none !important;
  outline: none;
}

.glyphicon {
  font-size: 36px;
}

.red {
  background-color: $red;
}

.orange {
  background-color: $orange;
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

.purple {
  background-color: $purple;
}

#footer {
  line-height: 30px;
}