// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

a {
  text-decoration: none;
  color: #5C5C5C;
}

a:hover {
  text-decoration: none;
  color: #fd6ba3;
  background-color: transparent;
}

ul.nav a:hover {
  background-color: white !important;
}

a.nav-active {
  color: #fd6ba3 !important;
  font-weight: bold;
}

#about, #menu, #environment {
  height: 100vh;
  background: #f6f5f6;
  padding: 60px 0 0 10px;
}


#consume, #board {
  height: 100vh;
  background: #fd6ba3;
  padding: 60px 0 0 10px;
  color: #f6f5f6;
}

#contact {
  height: 100%;
  background: #36363c;
  margin-bottom: 0;
  padding-top: 60px;
  color: #f6f5f6;
}

.footer {
  bottom: 0;
  top: 0;
  width:100%;
  height:100%;  
  background-color: #36363c;
  text-align: center;
  color: #f6f5f6;
}

.navbar {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center; 
  display: inline-block;
  background-color: white;
  box-shadow: 0 1px 5px #888888;
}

.nav {
  box-sizing: initial;
  background-color: white;
  border-color: white;
  text-align: center;
  line-height: 5px;
  margin-top: 0;
}

.sticky {  
  position: fixed;
  left: 0;
  top: 0;  
  z-index: 100;
  border-top: 0;  
}  

.stickyBody {  
  padding-top:92px;
}

.top {
  height: 100vh;
  background-image: url('sky.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50px;
}

img.logo {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

img.slogan {
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.learnmore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background: transparent;
  border: none !important;
  outline: none;
}

.glyphicon {
  font-size: 30px;
  padding-top: 10px;
}

img.social {
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  padding-bottom: 5px;
}

.aboutus, .consume, .menu, .board, .environment {
  padding-left: 30px;
}

.info {
  padding: 0 50px;
}

.info-detail {
  padding: 15px 0 0 10px;
}

.google-maps {  
  margin: 0 auto;
  width: 80%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.google-maps iframe {
  border:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map_canvas {
  width: 100%;
  padding: 15px 0;
}